{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "no-undef": "off",
    "no-use-before-define": "off",

    "camelcase": "off",

    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],

    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],

    "@typescript-eslint/no-explicit-any": "off", // FIXME: remove this rule

    "react/prop-types": [0],
    "react/jsx-filename-extension": [1, { "extensions": ["ts", "tsx"] }],

    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"]
      }
    }
  }
}
