$white: #ffffffff;
$black: #000000ff;

$dark_blue: #5856d6;
$deep_blue: #007aff;
$blue: #34aadc;
$light_blue: #5ac8fa;
$green: #4cd964;
$pink: #ff2d55;
$red: #ff3b30;
$orange: #ff9500;
$yellow: #ffcc00;
$grey: #8e8e93;