@import "./components/shared/css/colors.scss";

$sidebar-width: 300px;

.container {
  height: 100%;
  display: flex;
}

.categories-list {
  width: $sidebar-width;
  background-color: $charcoal;
  position: sticky;
  top: 0;
  height: 100vh;
}

.content {
  background-color: $white;
  flex: 1;
}
