.container {
  display: grid;
  grid-template-rows: 250px 1fr;
  min-height: 100%;
}

.header {
  background-color: blue;
}

.applications {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  overflow: hidden;
  box-sizing: border-box;
  align-content: start;
}

.item {
  padding: 5px;
  position: relative;
}
